@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
  --blue: hsl(246, 80%, 60%);
  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  background-color: var(--very-dark-blue);
  min-height: 100dvh;
}

main {
  padding: 4.5em 1.25em;
  display: grid;
  gap: 1.5em;
}

.profile {
  background-color: var(--dark-blue);
  border-radius: 0.75em;
}

.profile-info {
  background-color: var(--blue);
  border-radius: 0.75em;
  padding: 1.75em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-pic {
  width: auto;
  height: 4em;
  border: 3px solid white;
  border-radius: 50%;
}

.report-for {
  margin-left: 1em;
}

.report-for h3 {
  color: var(--pale-blue);
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 0.35em;
}

.report-for h1 {
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
}

.buttons {
  padding: 1.25em 1.75em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  font-family: 'Rubik', sans-serif;
  background-color: transparent;
  border: none;
  color: var(--desaturated-blue);
  font-size: 1.15rem;
  transition: color 0.2s ease;
}

button:hover {
  color: white;
  cursor: pointer;
}

button.selected {
  color: white;
}

.dashboard {
  display: grid;
  gap: 1.5em;
}

.time-card {
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
}

.color-tab {
  background-repeat: no-repeat;
  width: 100%;
  height: 2em;
}

.work {
  background-color: var(--light-red-work);
}

.work-icon {
  background-image: url('./images/icon-work.svg');
  background-position: 95% 25%;
}

.play {
  background-color: var(--soft-blue-play);
}

.play-icon {
  background-image: url('./images/icon-play.svg');
  background-position: 93% 18%;
}

.study {
  background-color: var(--light-red-study);
}

.study-icon {
  background-image: url('./images/icon-study.svg');
  background-position: 93% 18%;
}

.exercise {
  background-color: var(--lime-green-exercise);
}

.exercise-icon {
  background-image: url('./images/icon-exercise.svg');
  background-position: 93% 18%;
}

.social {
  background-color: var(--violet-social);
}

.social-icon {
  background-image: url('./images/icon-social.svg');
  background-position: 95% 25%;
}

.self-care {
  background-color: var(--soft-orange-self-care);
}

.self-care-icon {
  background-image: url('./images/icon-self-care.svg');
  background-position: 94% 35%;
}

.time-info {
  background-color: var(--dark-blue);
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  padding: 1.55em 1.35em;
  transition: background-color 0.2s ease;
}

.time-info:hover {
  cursor: pointer;
  background-color: hsl(235.77deg 40.57% 34.31%);
}

.header,
.hours {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header {
  margin-bottom: 0.25em;
}

.header img:hover {
  cursor: pointer;
}

.header h3 {
  color: white;
  font-size: 1.15rem;
  font-weight: 500;
}

.hours h1 {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.hours p {
  color: var(--pale-blue);
  font-size: 0.95rem;
}

@media all and (min-width: 600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1150px;
  }

  .profile-info {
    flex-direction: column;
    align-items: start;
    padding: 1.75em 1.75em 4.5em 1.75em;
  }

  .profile-pic {
    height: 4.5em;
  }

  .report-for {
    margin-left: 0;
    margin-top: 2.35em;
  }

  .report-for h1 {
    font-size: 2.5rem;
  }

  .buttons {
    flex-direction: column;
    align-items: start;
    padding: 1.25em 1.75em 1.75em 1.75em;
  }

  button {
    margin-bottom: 1.25em;
    font-size: 1.1rem;
  }

  button:last-of-type {
    margin-bottom: 0;
  }

  .dashboard {
    grid-column: 2/5;
    grid-template-columns: repeat(3, 1fr);
  }

  .color-tab {
    height: 2.5em;
  }

  .work-icon {
    background-position: 92% 30%;
  }

  .play-icon {
    background-position: 90.5% 20%;
  }

  .study-icon {
    background-position: 91% 20%;
  }

  .exercise-icon {
    background-position: 90% 20%;
  }

  .social-icon {
    background-position: 93% 22%;
  }

  .self-care-icon {
    background-position: 93% 40%;
  }

  .time-info {
    padding: 1.55em 1.75em;
  }

  .hours {
    flex-direction: column;
    align-items: start;
  }

  .header {
    margin-bottom: 1.45em;
  }

  .hours h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
  }
}